# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Django
*.log
db.sqlite3
/media
/staticfiles

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Other
.coverage
.pytest_cache/
.mypy_cache/
